# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment
.env

# IDE
.vscode/
.idea/
*.code-workspace

# Uploads
uploads/*
!uploads/.gitkeep

# Data
data/

# Chainlit
.files/

# Notebook
test.ipynb

# OS
.DS_Store
Thumbs.db
